<%= render 'release_template' %>
<%= render 'features_template' %>
<%= render 'team_template' %>

<%= render 'form' %>

<div class="container">
	<div id="release"></div>
	<ul id="team" class="list-group"></ul>
	<div id="backlog" class="row gets-bottom-separator"></div>
	<div id="in-progress" class="row gets-bottom-separator"></div>
	<div id="staging" class="row gets-bottom-separator"></div>
	<div id="done" class="row"></div>
</div>

<script>
 	
  $("#controls").submit(function() {
    var productKey = "<%= ENV['AHA_PRODUCT_KEY'] %>";
    var releaseKey = $("#release-key").val();

    new AhaApi({
      accountDomain: "<%= ENV['AHA_SUBDOMAIN'] %>",
      clientId: "<%= ENV['AHA_API_KEY'] %>",
      redirectUri: "<%= ENV['AHA_REDIRECT_URI'] %>"
    }).authenticate(function(api, success, message) {

    	// keep our release key around for future button clicks
    	$("#release-key").val(releaseKey);

    	// hide, then remove details if they exist already
    	$('.release').hide("fast").remove();
    	$('.feature').hide("fast").remove();
    	$('.team-member').hide("fast").remove();
    	$('hr').remove();
    	$('<hr>').hide().insertAfter('.gets-bottom-separator').delay(2000).fadeIn("slow");

    	// get some data from Aha! and use it to populate our templates
      api.get("/releases/" + releaseKey, {fields: 'name,start_date,release_date,url,work_done,remaining_estimate'}, function(response) {
        $("#release-template").tmpl(response.release).appendTo("#release").fadeIn(1000);
      });

      api.get("/releases/" + releaseKey + "/features", {fields: 'name,url,reference_num,assigned_to_user,workflow_status,original_estimate,remaining_estimate'}, function(response) {        
        featuresToTemplates(response.features);
        buildTeamDataArray(response.features);
        teamToTemplate();      

      });
    });
    return false;
  });

</script>