<%= render"additions_to_header" %>
<%= render 'release_template' %>
<%= render 'feature_template' %>
<%= render 'team_template' %>

<%= render 'form' %>

<div id="release"></div>
<div id="features"></div>
<div id="team"></div>

<script>
  $("#controls").submit(function() {
    var productKey = "<%= ENV['AHA_PRODUCT_KEY'] %>";
    // var releaseKey = $("#release-key").val();
    var releaseKey = "PLMS-R-22";

    
    new AhaApi({
      accountDomain: "<%= ENV['AHA_SUBDOMAIN'] %>",
      clientId: "<%= ENV['AHA_API_KEY'] %>",
      redirectUri: "<%= ENV['AHA_REDIRECT_URI'] %>"
    }).authenticate(function(api, success, message) {

    	// hide details if they exist already
    	$('.release').hide("fast")
    	$('.feature').hide("fast")

    	// get some data from Aha! and use it to populate our templates
      api.get("/releases/" + releaseKey, {fields: 'name,start_date,release_date,url,work_done,remaining_estimate'}, function(response) {
        $("#release-template").tmpl(response.release).appendTo("#release").show("slow");
      });
      api.get("/releases/" + releaseKey + "/features", {fields: 'name,url,assigned_to_user,workflow_status,original_estimate,remaining_estimate'}, function(response) {
        $("#feature-template").tmpl(response.features).appendTo("#features").show("slow");

        

        teamData = [];
        for (i=0;i<response.features.length;i++) {
					if (response.features[i].assigned_to_user) {
		  			teamData[i] = {
		  				"name": response.features[i].assigned_to_user.name, 
		  				"workflow_status": response.features[i].workflow_status.name, 
		  				"points_assigned": response.features[i].original_estimate || 0,
		  				"points_remaining": response.features[i].remaining_estimate || 0
		  			};
		  		} else {
		  			teamData[i] = {
		  				"name": "unassigned", 
		  				"workflow_status": response.features[i].workflow_status.name, 
		  				"points_assigned": response.features[i].original_estimate || 0,
		  				"points_remaining": response.features[i].remaining_estimate || 0
		  			};
		  		}
		  	}
		  	console.log(teamData);


		  	function sum(numbers) {
				  return _.reduce(numbers, function(result, current) {
				    return result + parseFloat(current);
				  }, 0);
				}
				var releaseTeam = _.chain(teamData)
				  .groupBy("name")
				  .map(function(value, key) {
				    return {
				      name: key,
				      points_assigned: sum(_.pluck(value, "points_assigned")),
				      points_remaining: sum(_.pluck(value, "points_remaining"))
				    }
				  })
				  .value();
				console.log(releaseTeam);

				$("#team-template").tmpl(releaseTeam).appendTo("#team").show("slow");
      });
    });
    return false;
  });
</script>